
/*-----------  HEADER ----------- */

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-bottom: 2px solid rgb(250, 196, 134);
}

#mysvg{
    margin-top: 15px;
    margin-left: 5px;
}

h1{
    margin-left: 5px;
    font-family: "helvetica";
    color: #082f49;
}

#addsale{
    background-color: white;
    border: 2px solid rgb(250, 196, 134);
    border-radius: 2rem;
    height: 40px;
    width: 100px;
    color:  #172554;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
}

.btndiv{
    display: flex;
    align-items: center;
}


/*-----------  POP UP FORM ----------- */

#overlay {
    display: none; /* Hidden initially */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 500;
}

#formcontainer {
    display: block; /* Change from flex to block */
    position: fixed; /* Center relative to viewport */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 500px;
    background-color: white;
    border-radius: 3rem;
    padding: 20px;
    z-index: 1000; /* Make sure it stays above overlay */
}

#formdata{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width:200px;
    height: 400px;
    margin-left:50px;
    margin-top:30px;
   
}
/* Form input boxes */
input{
    border-color:lightgrey;
    height: 30px;
    width: 300px;
    border: 1px solid;
    border-radius: 2rem;
}

/* Form button Add */
#addnclose{
    color: #172554;
    font-family: "poppins";
    background-color: white;
    border: 2px solid rgb(250, 196, 134);
    height: 40px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    margin-top: 40px;
    border-radius: 2rem;
}


/*-----------  MAIN PAGE ----------- */

#dashboard {
    display: flex;
    flex-direction: row;
}
    
/*-----------  LEFT SIDE CONTAINER ----------- */
   
#displayContainer {
    display: flex;
    flex-direction: column; /* Stack the table and map vertically */
    width: 50vw;
    height: 900px; /* Total height for displayContainer */
    border-right: 1px solid rgb(250, 196, 134);
    gap: 10px;
    padding: 10px;

}
    
/* Left side: Table container */

#firstContainer {
    height: 50%; /* Take up half of displayContainer's height */
    overflow-y: auto; /* Enable vertical scrolling for the table */
    border-bottom:1px solid rgb(250, 196, 134) ;
    
}
        
/*-----------  TABLE ----------- */

#salesTable {
    width: 100%;
    border-collapse: collapse;
}  

#salesTable th, #salesTable td {
    color: black;
    padding: 10px 15px;         /* Space around content and between columns */
    border: 0.5px solid black;     /* Border around cells */
    text-align: left;
}

#salesTable th {
    border-bottom: 1px solid black; 
    font-family: "poppins";
    font-size: medium;
}

#tableBody tr:nth-child(even) {
    background-color: #eff6ff; /* Light blue for alternating rows */
}

.actions {
    display: flex; /* Align buttons*/
    gap: 10px; /* Space between buttons */
}

.edit-button, .done-button, .delete-button{
    width: 40px;
    border:none;
    font-size: x-small;
    padding: 5px;
    background-color: #eed4bb;
    outline: none;
    border-radius: 2rem;

}
      
button:hover {
    box-shadow: 2px 2px 3px ;
}
      
button:active {
    box-shadow: 1px 1px 3px ;
}



/*-----------   RIGHT SIDE CONTAINER FOR CHARTS -----------  */

#secondContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 50%;

}


/*-----------  SELECTING DATA CONTAINER ----------- */


#stackedContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
       
}

select{
    border: 2px solid rgb(250, 196, 134);
    height: 30px;
    width: 300px;
    border-radius: 2rem;
}

label{
    color:  #172554;
    font-family: "poppins";
    margin-top: 10px;
    margin-bottom: 10px;
}

#plotChart{
    background-color:  rgb(250, 196, 134);
    border: none;
    border-radius: 2rem;
    color:  #172554;
    height: 25px;

}

/*-----------  MAP ----------- */

#mapContainer {
    height: 50%; /* Take up the remaining half of displayContainer's height */
    display: flex;
    justify-content: center;
    align-items: center;
}


 